@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line {
  background-color: #474f51;
}

.syntax--comment {
  font-style: italic;
  color: #888A85;
}

.syntax--string {
  color: #EDD400;
}

.syntax--constant.syntax--numeric {
  color: #CE5C00;
}

.syntax--constant.syntax--language {
  font-weight: bold;
  color: #ED9038;
}

.syntax--constant.syntax--character, .syntax--constant.syntax--other {
  color: #F57900;
}

.syntax--variable.syntax--language, .syntax--variable.syntax--other {
  color: #729FCF;
}

.syntax--keyword {
  font-weight: bold;
  color: #B3C0CD;
}

.syntax--storage {
  font-weight: bold;
  color: #FFF4BA;
}

.syntax--entity.syntax--name {
  font-weight: bold;
  color: #8AE234;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  font-weight: bold;
  color: #73D216;
}

.syntax--entity.syntax--name.syntax--function {
  color: #729FCF;
}

.syntax--variable.syntax--language {
}

.syntax--entity.syntax--name.syntax--tag {
}

.syntax--entity.syntax--other.syntax--attribute-name {
}

.syntax--support.syntax--function {
}

.syntax--support.syntax--constant {
}

.syntax--support.syntax--type, .syntax--support.syntax--class {
}

.syntax--support.syntax--other.syntax--variable {
}

.syntax--invalid {
}

.syntax--support.syntax--class {
  font-weight: bold;
  color: #AD7FA8;
}

.syntax--markup.syntax--deleted {
  color: #F92672;
}

.syntax--markup.syntax--inserted {
  color: #A6E22E;
}

.syntax--markup.syntax--changed {
  color: #967EFB;
}
